.bg{
    background-color: bisque;
    box-sizing: border-box;
    width: 100vw;
    height: 85vh;
    position: fixed;
    top: 15vh;
}

.logoContainer{
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 5rem;
}

.logo{
    height: 25vh;
    width: 25vh;   
    padding: 0.2rem;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 1s;
    transition-delay: 0.2s;
}

.logo img{
    height: 80%;
    width: 80%;    
}


.logo h3{
    color:darkslategrey;
    margin-top: 0;
}

.github{
    background-color: white;
    border-radius: 50%;
}

.skills{
    position: relative;
    top: 12vh;
    text-align: left;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(32, 50, 50);
}

  