.bg{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/576/808/995/harry-potter-magic-fantasy-art-books-wallpaper-preview.jpg');
    background-size: cover;
    filter: blur(2px);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 100vw;
    height: 85vh;
    position: fixed;
    top: 15vh;
}

.logoContainer{
    position: relative;
    top: 17vh;
    padding-left: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2);
    row-gap: 3rem;
    column-gap: 2.5rem;
}

.logo{
    height: 25vh;
    width: 25vh;   
    padding: 0.2rem;     
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.logo img{
    height: 100%;
    width: 100%;
}


.logo h3{
    color: antiquewhite;
    margin-top: 0;
}

.github{
    background-color: white;
    border-radius: 50%;
}

.skills{
    position: relative;
    top: 14vh;
    text-align: left;  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
}

.skills span{
    background: linear-gradient(to right ,orange, blue, yellow, skyblue, purple, white);
    background-clip: text;    
    color: transparent;
    animation-name: skill;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes skill{
    0%{
        left: 0;
    }
    25%{
        left: 25vw;
    }
    50%{
        left: 50vw;
    }
    75%{
        left: 75vw;
    }
    100%{
        left: 100vw;
    }
}