.main{
    box-sizing: border-box;
    background-color: bisque;
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 85vh;
    position: fixed;
    top: 15vh;
}

.wrapper{
    background-color: rgba(0,0,0,0.4);
    border-radius: 2rem;
    padding: 1rem;
    height: 70%;
    width: 35%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.know{
    text-align: center;
    color: white;
}

h3{
    color: whitesmoke;
    margin-bottom: 0;
}

p{
    font-size: larger;
    font-weight: 540;
    color: rgb(239, 238, 235);
    margin: 3rem 0;
}

.resume{
    border: 2px solid rgb(113, 110, 110);
    border-radius: 0.5rem;
    display: inline;
    padding: 0.6rem;
    background-color: darkslategrey;
    font-size: medium;
}

.resume:hover{
    background-color: darkslategrey;
    color: rgb(167, 134, 101);
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: white;
}

.dp{
    height: 150%;
    width: 40%;
}