.home{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/491/443/644/artificial-intelligence-binary-circle-digital-art-wallpaper-preview.jpg');
    background-size: cover;
    box-sizing: border-box;
    position: fixed;
    top: 15vh;
    bottom: 0;
    width: 100vw;
    height: 85vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 8rem;
    top: 40vh;
    z-index: 1;    
    color:rgb(4, 4, 24);
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.divs h1{
    margin: 0;
}

.first{
    color: red;
}

.last{
    color: white;
}

