.home{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/985/136/886/building-lights-illustration-romain-trystram-cityscape-hd-wallpaper-preview.jpg');
    background-size: cover;
    position: fixed;
    top: 15vh;
    bottom: 0;
    width: 100vw;
    height: 85vh;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}



