.home{
    background-image: url('https://plus.unsplash.com/premium_photo-1675470805815-8999a8da65f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    position: fixed;
    /* top: 5.34rem; */
    top: 15vh;
    bottom: 0;
    width: 100vw;
    height: 85vh;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

